*

!*.cpp
!*.hpp
!*.tpp
!*.html
!*.conf
!*.py
!*.js

!server/
!serverHeader/
# !webserv/
# !sources/
# !parser/
# !request/
# !response/
# !errors/
# !defaultErrorPages/
# !includes/
# !configs/
# !www/
# !cgi/
# !cgi-scripts/
# !Makefile
# !README.md
!.gitignore