*

!*.cpp
!*.hpp
!*.tpp
!*.html
!*.conf
!*.py
!*.js
!*.png
!*.ico
!*.jpg

!server/
!serverHeader/
!webserv/
!sources/
!parser/
!request/
!response/
!defaultErrorPages/
!includes/
!configs/
!www/
!assets/
!images/
!cgi/
!cgi-scripts/
!Makefile
!README.md
!.gitignore